apiVersion: v1
kind: Service
metadata:
  name: ${project.artifactId}
spec:
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 35000
  selector:
    name: ${project.artifactId}
  type: ClusterIP
  sessionAffinity: None